@using DAL.Entities
@using DAL.Repositories
@using DAL.UnitOfWork
@model CAT_GROUPSUBJECT

<div class="panel panel-danger list-panel" id="list-panel">
    <div class="panel-heading list-panel-heading">
        <h1 class="panel-title list-panel-title"> Create </h1>
    </div>
    <div class="panel-body center-block">
        @using (Html.BeginForm("Modify", "MCourse", FormMethod.Post, new { id = "createform" }))
        {
            <input type="hidden" id="hd_id" name="id" value="@id" />
            <div class="form-group col-lg-12">
                <label>Parent Course</label>
                <select class="form-control" name="int_parent" id="int_parent" data-placeholder="-- Parent Course --">
                    <option></option>
                    @Html.Raw(loadparentcourse(null, 1, mModel.parent_id))
                </select>
            </div>
            <div class="form-group col-lg-12">
                <label>Group Course<font color="red">(*)</font></label>
                <input type="text" name="str_Name" value="@mModel.str_Name" class="form-control">
            </div>
            <div class="form-group col-lg-12">
                <label>Code <font color="red">(*)</font></label>
                <input type="text" name="str_Code" value="@mModel.str_Code" data-parsley-required-message="Required Fields" required class="form-control">
            </div>

            <div class="form-group col-lg-12">
                <label>Type</label>
                <select class="form-control" name="int_subject_type" id="int_subject_type" data-placeholder="-- Subject Type --" onchange="Changetype(this.value,@id)">
                    <option></option>
                    @Html.Raw(listtype)
                </select>
            </div>


            <div class="form-group col-lg-12">
                <label>Subject</label>
                <select class="form-control" name="int_subject" id="int_subject" data-placeholder="-- Subject --" multiple="multiple">
                    <option></option>
                    <optgroup id="showsubject"></optgroup>
                </select>
            </div>
            <div class="form-group col-lg-12">
                <label>Description </label>
                <textarea rows="7" class="form-control" value="@mModel.str_Description" name="str_Description"></textarea>
            </div>

            <div class="divider"></div>
                <div class="divider"></div>
                <div class="form-group col-lg-12">
                    <div id="messageout">
                    </div>
                </div>
                <div class="pull-right pad10R">
                    @{
                        if (User.IsInRole("/MCourse/Index"))
                        {
                            <a class="btn btn-md btn-danger min-width-100" onclick="submit()">Create</a>
                        }
                    }
                </div>
                        }
    </div>
</div>




<script type="text/javascript">
    function Changetype(val, id) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "/MCourse/ChangetypeReturnSubject",
            dataType: "json",
            data: { id_type: val, id: id },
            success: function (result) {
                $("#showsubject").empty();
                $("#showsubject").append(result.htmlout);
                $('select:not([name$="_length" ])').select2({
                    width: '100%',
                    allowClear: true
                }).addClass('form-control searchText1');
            }
        });
    }

</script>
