@using TMS.Core.App_GlobalResources
@using TMS.Core.Utils
@model DAL.Entities.Trainee
<!--#region code cũ  -->
@*<div class="col-md-3">
        <div class="box-shadow" style="margin-top: 40px;">
            @if (string.IsNullOrEmpty(Model.avatar) || Model.avatar.StartsWith("NoAvata"))
            {
                <img src="@(UtilConstants.PathImage + "NoAvata.png")" class="img-responsive center-block" />
            }
            else
            {
                <img src="@(UtilConstants.PathImage + Model.avatar)" class="img-responsive center-block" />
            }
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel ">
            <div class="panel-body center-block">
                <div class=" col-md-12">
                    <h3>@(Model.FirstName) @(Model.LastName)</h3>
                </div>


                <div class=" col-md-6">
                    <b>EID:</b>
                    @(Model.str_Staff_Id)
                </div>
                <div class=" col-md-6">
                    <b>PASSPORT NO:</b>
                    @(Model.Passport)
                </div>
                <div class=" col-md-6">
                    <b>ID:</b>
                    @(Model.PersonalId)
                </div>
                <div class=" col-md-6">
                    <b>DATE OF BIRTH:</b>
                    @(Model.dtm_Birthdate != null ? DateUtil.DateToString(Model.dtm_Birthdate.Value, " dd/MM/yyyy") : "")

                </div>
                <div class=" col-md-6">
                    <b>GENDER:</b>
                    @(Model.Gender.HasValue && UtilConstants.GenderDictionary().ContainsKey(Model.Gender.Value) ? UtilConstants.GenderDictionary()[Model.Gender.Value] : " ")

                </div>
                <div class=" col-md-6">
                    <b>PLACE OF BIRTH:</b>
                    @(Model.str_Place_Of_Birth ?? " ")

                </div>
                <div class=" col-md-6">
                    <b>EMAIL:</b>
                    @(Model.str_Email ?? " ")

                </div>
                <div class=" col-md-6">
                    <b>NATIONALITY:</b>
                    @(Model.Nation ?? " ")

                </div>
                <div class=" col-md-6">
                    <b>PHONE:</b>
                    @(Model.str_Cell_Phone ?? " ")

                </div>
                <div class=" col-md-6">
                    <b>DATE OF JOIN:</b>
                    @(Model.dtm_Join_Date != null ? DateUtil.DateToString(Model.dtm_Join_Date, " dd/MM/yyyy") : "")

                </div>
                <div class=" col-md-6">
                    <b>JOB TITLE:</b>
                    @(Model.JobTitle.Name ?? " ")
                </div>
                <div class=" col-md-6">
                    <b>TYPE:</b>

                    @if (Model.bit_Internal == true)
                    {
                        <span>Internal</span>
                    }
                    else
                    {
                        <span>External</span>
                    }
                </div>
                <div class=" col-md-6">
                    <b>DEPARTMENT:</b>
                    @(Model.Department.Name ?? " ")
                </div>
                <div class=" col-md-6">
                    <b>COMPANY:</b>
                    @(Model.Company_Id.HasValue ? Model.Company.str_Name : " ")
                </div>
            </div>
        </div>
    </div>*@
<!--#endregion -->
    <div class="panel">
        <div class="panel-body">
            <table id="Trainee2" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                    <tr role="row">
                        <th style="width: 5%;">@Resource.lblStt</th>
                        <th>@Messege.EID</th>
                        <th>@Resource.lblFullName</th>
                        <th>@Resource.lblDepartment</th>
                        <th>@Resource.lblJobTitle</th>
                        <th style="width: 5%;"><input type="checkbox" name="select_all2" value="1" id="example-select-all2" /></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
            </table>
        </div>
    </div>

