@using DAL.Entities
@using DAL.Repositories
@using DAL.UnitOfWork
@using TMS.Core.Utils
@using TMS.Core.App_GlobalResources
@model  TMS.Core.ViewModels.Courses.CourseViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-graduation-cap"></i>  @Resource.lblCourseManagement</h1>
            <ol class="breadcrumb">
                <li><a href="/">@Resource.lblHome</a></li>
                <li>@Resource.lblCourseManagement</li>
                <li class="active">@Resource.lblDetails</li>
            </ol>
        </div>
    </div>
}
<style>
    @@media (min-width: 240px) and (max-width: 600px) and (orientation: portrait) {
        .bs-wizard {
            display: flex;
            flex-direction: column;
        }

            .bs-wizard > .bs-wizard-step {
                flex: 1 1 !important;
            }

                .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
                    text-align: left;
                }

                .bs-wizard > .bs-wizard-step:first-child > .progress {
                    left: 0% !important;
                    width: calc(100% - 40px) !important;
                }

                .bs-wizard > .bs-wizard-step:last-child > .progress {
                    width: calc(100% - 40px) !important;
                }

                .bs-wizard > .bs-wizard-step > .progress {
                    left: 0%;
                    width: calc(100% - 40px);
                    margin-left: 40px;
                }

                .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
                    left: 0% !important;
                    top: 43px !important;
                    margin-left: 0px !important;
                }

            .bs-wizard p {
                right: 0% !important;
                top: 22% !important;
                left: auto !important;
            }
    }
</style>
<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title list-panel-title"><i class="fa fa-graduation-cap"></i> @Model.Name</h1>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#GENERAL" data-toggle="tab" aria-expanded="false">@Resource.lblGENERAL</a>
            </li>
            <li class="">
                <a href="#SCHEDULES" data-toggle="tab" aria-expanded="false">@Resource.lblSCHEDULE</a>
            </li>
            <li class="">
                <a href="#TRAINEE" data-toggle="tab" aria-expanded="false">@Resource.lblTRAINEE</a>
            </li>
            <li class="">
                <a href="#NOTE" data-toggle="tab" aria-expanded="false">@Resource.lblNote</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade  active in" id="GENERAL">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <div class="panel box-shadow">
                            <div class="panel-body center-block">

                                <div class="col-lg-12">
                                    <ul class="list-inline text-center">
                                        <li>
                                            <h5><i class="zmdi zmdi-circle" style="color: #8B9999;"></i> @Resource.lblPending</h5>
                                        </li>
                                        <li>
                                            <h5><i class="zmdi zmdi-circle" style="color: blueviolet;"></i> @Resource.lblCancelRequest</h5>
                                        </li>
                                        <li>
                                            <h5><i class="zmdi zmdi-circle" style="color: #ff9800;"></i> @Resource.lblEdit</h5>
                                        </li>
                                        <li>
                                            <h5><i class="zmdi zmdi-circle" style="color: #e51c23;"></i> @Resource.lblReject</h5>
                                        </li>
                                        <li>
                                            <h5><i class="zmdi zmdi-circle" style="color: #2196f3;"></i> @Resource.lblProcessing</h5>
                                        </li>
                                        <li>
                                            <h5><i class="zmdi zmdi-circle" style="color: #4caf50;"></i> @Resource.lblApproval</h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group col-lg-12" id="ListApproval">
                                    @Html.Raw(Model.process)
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>@Resource.lblCourseName</label><br />
                                    <input type="text" class="form-control" disabled value="@Model.Name" />
                                </div>
                                @*@if (!CMSUtils.IsNull(Model.Id))
                                    {
                                       // string parentname = CoursePublicFunction.GetParentCourse(course.parent_course_id.ToString());
                                        <div class="form-group col-lg-12">
                                            <label>@Resource.lblSUBCOURSENAME</label><br />
                                            <input type="text" class="form-control" disabled value="@Model.Name" />
                                        </div>
                                    }*@
                                <div class="form-group col-lg-6">
                                    <label>@Resource.lblCode</label><br />
                                    <input type="text" class="form-control" disabled value="@Model.Code" />
                                </div>
                                @*<div class="form-group col-lg-6">
                                         <label>CREATE DATE</label><br />
                                         <input type="text" class="form-control" disabled value="@DateUtil.DateToString(course.dtm_Created_At,"dd/MM/yyyy") " />
                                    </div>*@
                                <div class="form-group col-lg-6">
                                    <label>@Resource.lblDate</label><br />
                                    <input type="text" class="form-control" disabled value="@DateUtil.DateToString(@Model.BeginDate,"dd/MM/yyyy")-@DateUtil.DateToString(@Model.EndDate,"dd/MM/yyyy")" />

                                </div>
                                <div class="form-group col-lg-6">
                                    <label>@Resource.lblVenue</label><br />
                                    <input type="text" class="form-control" disabled value="@Model.Venue" />
                                </div>
                                @*<div class="form-group col-lg-6">
                                        <label>SUBJECT/ROOM</label><br />
                                        <input type="text" class="form-control" disabled  />
                                    </div>*@
                                <div class="form-group col-lg-6">
                                    <label>MAX.NBR.TRAINEE</label><br />
                                    <input type="text" class="form-control" disabled value="@Model.MaxTranineeMembers" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>@Resource.lblRelevantTrainingDepartment</label><br />
                                    <select multiple="multiple" class="form-control" name="int_khoidaotao" id="int_khoidaotao" data-placeholder="@Resource.lblRelevantTrainingDepartment" disabled>
                                        <option></option>
                                        @Html.Raw(Model.Departments)
                                        @*@foreach (var dictionaryDepartment in Model.DictionaryDepartments)
                                            {
                                                <option value="@dictionaryDepartment.Key" @(Model.DepartmentIds.Contains(dictionaryDepartment.Key) ? "selected" : "")> @dictionaryDepartment.Value</option>
                                            }*@
                                    </select>
                                </div>
                                @* <div class="form-group col-lg-6">
                                        <label>CONTRACTOR NAME</label><br />
                                        <input type="text" class="form-control" disabled  />

                                    </div>*@
                                <div class="form-group col-lg-12">
                                    <label>@Resource.lblNote</label><br />
                                    <textarea class="form-control" cols="20" disabled rows="4">@Model.Note</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="TRAINEE">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <div class="panel list-panel" id="list-panel">
                            <div class="panel-heading list-panel-heading">
                                <h1 class="panel-title list-panel-title">@Resource.lblTRAINEE</h1>
                            </div>
                            <div class="panel-body table-responsive">
                                <div class="col-lg-12">
                                    <ul class="list-inline text-center">
                                        <li>
                                            <h5><i class='fa fa-desktop' style='color:red;'></i> E-Learning</h5>
                                        </li>
                                        <li>
                                            <h5><i class='fas fa-chalkboard-teacher' style='color: green;'></i> Class</h5>
                                        </li>
                                        <li>
                                            <h5><i class='fas fa-book-reader' style='color:royalblue;'></i> cRo</h5>
                                        </li>
                                    </ul>
                                </div>
                                <table id="Table_TRAINEE" class="table table-striped table-bordered">
                                    <thead class="cf  ">
                                        <tr role="row">
                                            <th style="width: 5%">@Resource.lblStt</th>
                                            <th>@Resource.lblCode</th>
                                            <th>@Resource.lblSubjectName</th>
                                            <th>@Resource.lblType</th>
                                            <th>@Resource.lblDuration</th>
                                            <th>@Resource.lblDate</th>
                                            <th>@Resource.lblMethod</th>
                                            <th style="width: 5%"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="SCHEDULES">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <div class="panel list-panel" id="list-panel">
                            <div class="panel-heading list-panel-heading">
                                <h1 class="panel-title list-panel-title">@Resource.lblSCHEDULE</h1>
                            </div>
                            <div class="panel-body table-responsive">
                                <div class="col-lg-12">
                                    <ul class="list-inline text-center">
                                        <li>
                                            <h5><i class='fa fa-desktop' style='color:red;'></i> E-Learning</h5>
                                        </li>
                                        <li>
                                            <h5><i class='fas fa-chalkboard-teacher' style='color: green;'></i> Class</h5>
                                        </li>
                                        <li>
                                            <h5><i class='fas fa-book-reader' style='color:royalblue;'></i> cRo</h5>
                                        </li>
                                    </ul>
                                </div>
                                <table id="Table_SCHEDULES" class="table table-striped table-bordered">
                                    <thead class="cf  ">
                                        <tr role="row">
                                            <th class="text-center">@Resource.lblStt</th>
                                            <th>@Resource.lblCode</th>
                                            <th>@Resource.lblSubjectName</th>
                                            <th style="width: 7%">@Resource.lblType</th>
                                            <th>@Resource.lblDuration</th>
                                            <th>@Resource.lblMethod</th>
                                            <th>@Resource.lblRoom</th>
                                            <th>@Resource.lblInstructorName</th>
                                            <th style="width: 9%">@Resource.lblDate</th>
                                            <th>@Resource.lblTime</th>
                                            <th>@Resource.lblRemark</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="NOTE">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <div class="panel list-panel" id="list-panel">
                            <div class="panel-heading list-panel-heading">
                                <h1 class="panel-title list-panel-title">@Resource.lblNote</h1>
                            </div>
                            <div class="panel-body table-responsive">
                                <table id="Table_NOTE" class="table table-striped table-bordered">
                                    <thead class="cf  ">
                                        <tr role="row">
                                            @*<th class="text-center">No</th>*@
                                            <th style="width:20%;">@Resource.lblCourseName</th>
                                            <th style="width:20%;">@Resource.lblSubjectName</th>
                                            <th>@Resource.lblNote</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hidden table-responsive">
    <table id="subjectcRo" class="table table-striped table-bordered">
        <thead>
            <tr role="row">
                <th style="width:5%;">@Resource.lblStt</th>
                <th class="dt-left">@Resource.lblTypeLearning</th>
                <th>@Resource.lblDuration</th>
                <th>Start</th>
                <th>End</th>
                <th>@Resource.lblRoom</th>
                <th>@Resource.lblExaminer</th>

            </tr>
        </thead>
        <tbody></tbody>
        <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
    </table>
</div>

<div class="hidden table-responsive">
    <table id="sTable_TRAINEE" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr role="row">
                <th style="width: 5%">@Resource.lblStt</th>
                <th style="width: 10%">@Messege.EID</th>
                <th style="width: 15%">@Resource.lblName</th>
                @*<th style="width: 10%">Job title</th>*@
                <th style="width: 10%">@Resource.lblDepartment</th>
                <th style="width: 10%">@Resource.lblLearningTime</th>
                <th style="width: 10%">@Resource.lblFirstCheck</th>
                <th style="width: 10%">@Resource.lblReCheck</th>
                <th style="width: 15%">@Resource.lblGrade</th>
                <th style="width: 15%">@Resource.lblRemark</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
    </table>
</div>
<div class="hidden">
    <div style="float: right; width: 50%;">
        <table class="table table-bordered table-striped" id="MyApprovalDetail">
            <thead>
                <tr role="row">
                    <th>@Resource.lblStt</th>
                    <th class="text-brown">@Resource.lblSubject</th>
                    <th>@Resource.lblRequestBy</th>
                    <th>@Resource.lblDate</th>


                </tr>
            </thead>
            <tbody></tbody>
            <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function(){
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });
        $(".line_310").addClass("active");
        var sTable;
        var ssTable;
        var sssTable;
        $(document).ready(function() {
            var customRow = [{ "targets": 0 }];
            initDataTable("#Table_INTRUSTOR", "/Course/AjaxHandlerInstructorDetail/" + @ViewContext.RouteData.Values["id"], customRow);
            sTable = $("#Table_NOTE").dataTable({
                "responsive:": true,
                "searching": false,
                //"columnDefs": [{
                //    "targets": 0,
                //    "data": null,
                //    render: function (data, type, row, meta) {
                //        return meta.row + meta.settings._iDisplayStart + 1;
                //    }
                //}],
                //"aaSorting": [],
                "bServerSide": true,
                "sAjaxSource": "/Course/AjaxHandlerNoteDetail/" + @ViewContext.RouteData.Values["id"],
                "bProcessing": true,
                rowsGroup: [
                    0, 1
                ]
            });
            var customRowTrainee = [
                {
                    "targets": 0
                },
                {
                    "targets": 6,
                    "className": "text-left"
                }];
            ssTable = initDataTable("#Table_TRAINEE", "/Course/AjaxHandlerTraineeDetail/" + @ViewContext.RouteData.Values["id"], customRowTrainee);
            var customRowSchedules = [{  "targets": 5,
                "className": "text-left" }];
            sssTable =initDataTable("#Table_SCHEDULES", "/Course/AjaxHandlerscheduleDetail/" + @ViewContext.RouteData.Values["id"], customRowSchedules);
            var detailRows = [];
            $('#Table_TRAINEE tbody').on('click', 'tr td span.expand', function() {
                var id = $(this).data('value');
                var tr = $(this).closest('tr');
                var row = ssTable.row(tr);
                var idx = $.inArray(tr.attr('id'), detailRows);

                if (row.child.isShown()) {
                    tr.removeClass('details');
                    row.child.hide();

                    // Remove from the 'open' array
                    detailRows.splice(idx, 1);
                } else {
                    tr.addClass('details');

                    row.child(format(id)).show();

                    // Add to the 'open' array
                    if (idx === -1) {
                        detailRows.push(tr.attr('id'));
                    }
                }
            });
            ssTable.on('draw', function() {
                $.each(detailRows, function(i, id) {
                    $('#' + id + ' td.details-control').trigger('click');
                });
            });

            $('#Table_SCHEDULES tbody').on('click', 'tr td span.expand', function () {
                var id = $(this).data('value');
                var tr = $(this).closest('tr');
                var row = sssTable.row(tr);
                var idx = $.inArray(tr.attr('id'), detailRows);

                if (row.child.isShown()) {
                    tr.removeClass('details');
                    row.child.hide();

                    // Remove from the 'open' array
                    detailRows.splice(idx, 1);
                } else {
                    tr.addClass('details');

                    row.child(format_cro(id)).show();

                    // Add to the 'open' array
                    if (idx === -1) {
                        detailRows.push(tr.attr('id'));
                    }
                }
            });

        });
        function format(id) {
            var customRowsubject = [
                { "targets": 0

                } ];
            var table = $("#sTable_TRAINEE").clone();
            initDataTableMaxPageLength(table, "/Course/AjaxHandlTraineeResultHasInsert/" + id, customRowsubject);
            return table;
        }
        $(".line_6").addClass("active");

        function format_cro(id) {
            var table = $("#subjectcRo").clone();
            var ssTable;
            var customRow = [{ "targets": 0 },
            {
                "targets": 1,
                "className": "text-left",
            },
            {
                "targets": 2,
                "className": "text-center",
            },
            {
                "targets": 3,
                "className": "text-center",
            },
            {
                "targets": 4,
                "className": "text-center",
            },
            {
                "targets": 5,
                "className": "text-left",
            }];
            ssTable = initDataTableMaxPageLength(table, "/Approve/AjaxHandlerSubjectBlended/" + id, customRow);
            return table;
        }
        function clonetableDetail(id) {
        var detailrow = $('#detail' + id);

        if (detailrow.children().length > 0) {
            detailrow.empty();

        } else {
            detailrow.append(formatprocecssbarDetail(id)).show();
                 var sTable =  $("#MyApprovalDetail").dataTable({
                     "responsive:": true,
                     "searching": false,
                "columnDefs": [{
                    "targets": 0,
                    "data": null,
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                }],
                "aaSorting": [],
                "bServerSide": true,
                "sAjaxSource": "/Course/AjaxHandlerlistsubject",
                "bProcessing": true,
                "fnServerParams": function (aoData) {
                   aoData.push(
                        { "name": "ddl_subject", "value": id }
                    );
                }
            });
        }

        }
        function formatprocecssbarDetail(id) {
        var table = $("#MyApprovalDetail").clone(true, true);
            return table;
    }
    </script>
}