@using RestSharp.Extensions
@using TMS.Core.App_GlobalResources
@using TMS.Core.Utils
@model TMS.Core.ViewModels.Courses.CourseResultSearch

@{
    ViewBag.Title = "Note";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Training";
    ViewBag.ActiveSubMenu = "Course";
}



@section breadcrumb{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-graduation-cap"></i>  @Resource.lblCourseManagement - @Resource.lblInputNote</h1>
            <ol class="breadcrumb">
                <li><a href="/">@Resource.lblHome</a></li>
                <li>@Resource.lblCourseManagement</li>
                <li class="active">@Resource.lblInputNote</li>
            </ol>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title"><i class="fas fa-list-ul font-small-byhoa" aria-hidden="true"></i> @Resource.lblNoteList</h1>
            </div>
            <div class="panel-body table-responsive">
                <div id="panel-search" class="collapse panel">
                    <form action="javascript:void(0)">
                        <div class="panel-body">
                            <div class="row col-md-12">
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label>@Resource.lblCode</label>
                                            @Html.TextBox("CourseCode", "", new { @class = "form-control", placeholder = "Code"/*, onchange = "OnFilterCourse()"*/ })
                                        </div>
                                        <div class="col-md-4">
                                            @*@Html.DropDownList("fCourseList", (SelectList)ViewBag.CourseList, "-- Course List --", new { @class = "form-control", @onchange = "OnChangeCourseList(this.value)" })*@
                                            <label>@Resource.lblCourseName</label>
                                            @Html.TextBox("fCourseList", "", new { @class = "form-control", placeholder = "Course Name", @onchange = "OnChangeCourseList(this.value)" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>@Resource.lblSubject</label>
                                            <select class='form-control' id="ddl_subject" name="ddl_subject" data-placeholder="-- Subject List --">
                                                <option value='-1'>--Subject List--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <label>@Resource.lblStartDate</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" id="DateFrom" class="form-control datepicker" placeholder="Search Start Date" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>@Resource.lblEndDate</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" id="DateTo" class="form-control datepicker" placeholder="Search End Date" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>@Resource.lblNote</label>
                                            <input type="text" class="form-control" id="fNote" placeholder="Note" />
                                        </div>
                                        <div class="col-md-1 pull-right">
                                            <label>&nbsp;</label>
                                            <button type="submit" class="btn btn-primary pull-right legitRipple" id="createbutton">
                                                <i class="fa fa-search"></i> Search
                                            </button>
                                        </div>
                                        @*<div class="col-md-4">
                                            <input type="submit" class="btn btn-danger pull-right" id="createbutton" value="Search" />
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <p class="pull-right" data-toggle="collapse" data-target="#panel-search" style="cursor:pointer;" id="call-panel-search"><i class="fa fa-search"></i> @Messege.Search</p>
                <table id="Trainee" class="table table-striped table-bordered" style="width: 100%">
                    <thead>
                        <tr role="row">
                            <th>@Resource.lblCode</th>
                            <th>@Resource.lblCourseName</th>
                            <th>@Resource.lblFromTo</th>
                            <th>@Resource.lblSubjectName</th>
                            <th>@Resource.lblNote</th>
                            <th>@Resource.lblOptions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>*@
            <div class="modal-body">
                <label>@(string.Format(Messege.DELETE_MESSAGE, "note"))</label>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <div id="messageout2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="Modal_Footer">

            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            formatDatetimepicker('.datepicker', '@Resource.lblLanguage');


            var sTable = $("#Trainee").dataTable({
                "responsive:": true,
                "searching": false,
                "bServerSide": true,
                "ordering": false,
                "sAjaxSource": "/Course/AjaxHandlerListNote",
                "bProcessing": true,
                rowsGroup: [
                    0, 1, 2 , 6
                ],
                "drawCallback": function (settings) {

                    $('[data-toggle="tooltip"]').tooltip();

                },
                "fnServerParams": function (aoData) {
                    aoData.push(
                    { "name": "code", "value": $('#CourseCode').val() },
                    { "name": "fCourseList", "value": $('#fCourseList').val() },
                    { "name": "subject", "value": $('#ddl_subject').val() },
                    { "name": "fNote", "value": $('#fNote').val() },
                    { "name": "dateFrom", "value": $('#DateFrom').val() },
                    { "name": "dateTo", "value": $('#DateTo').val() },
                    { "name": "status", "value": $('#CourseStatus').val() });
                }
            });

            $('#createbutton').click(function (e) {
                sTable.fnDraw();
            });
            OnChangeCourseList("");
        });

        function calldelete(id) {
            notify.confirm("@(string.Format(Messege.DELETE_MESSAGE, "note"))", "Confirm", TITLE_STATUS_DANGER, deletesubmit, id);
        }

        function deletesubmit(id) {
            $.ajax({
                type: 'POST',
                url: "/Course/DeleteNote",
                datatype: 'json',
                data: { id: id },
                success: function (data) {
                    if (data.result) {
                        notify.alert(data.message, 'Success', TITLE_STATUS_SUCCESS);
                        $("#Trainee").dataTable().fnDraw();
                    }
                    else {
                        notify.alert(data.message, 'Error', TITLE_STATUS_DANGER);
                    }

                }, complete: function () {
                    spinner.close();
                }
            });
        }

        $(".line_310").addClass("active");

        function OnChangeCourseList(val) {
            //debugger
            if (val == "") val = 0;
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Course/ListNoteChangeCourseCodeReturnSubject",
                dataType: "json",
                data: { id_course: val },
                success: function (result) {
                    $('#ddl_subject').empty();
                    $('#ddl_subject').prop('selectedIndex', 0);
                    if (result.value_null == "0") {
                        $('#ddl_subject').append(result.value_option);
                    } else {
                        $('#ddl_subject').append("<option value='-1'>--Subject List--</option>");
                    }
                }
            });
        }

        function create() {
            var form = $("#createform").serialize();
            var $forms = $('#createform');
            //if ($forms.valid()) {
            $.ajax({
                type: 'POST',
                url: "/Course/Note",
                datatype: 'json',
                data: form,
                success: function (data) {
                    $("#messageout").html('');
                    $("#messageout").append(data);
                }
            });
        }

        function OnFilterCourse() {
            var $code = $('#CourseCode');
            var requestData = {
                code: $code.val()
            };
            $.ajax({
                type: 'POST',
                url: "/Course/AjaxFilterCourseByDate",
                datatype: 'json',
                data: requestData,
                success: function (result) {
                    $('#fCourseList').empty();
                    $('#fCourseList').prop('selectedIndex', 0);
                    if (result.result) {
                        $('#fCourseList').append(result.value);
                    } else {
                        $('#fCourseList').append("<option value='-1'>--Course List--</option>");
                    }
                }
            });
        }

        function OnChangeTrainingCenter(obj) {
            var form = $("#createform").serialize();
            var $forms = $('#createform');
            //if ($forms.valid()) {
            $.ajax({
                type: 'POST',
                url: '/Course/Note',
                datatype: 'json',
                data: form,
                success: function (data) {
                    $('#messageout').html('');
                    $('#messageout').append(data);
                }
            });
        }
        $(".line_6").addClass("active");
    </script>
}