@using TMS.Core.App_GlobalResources
@model TMS.Core.ViewModels.Contact.ContactDetails
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section breadcrumb{

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fas fa-phone"></i> @Resource.lblContactManagement -  @Resource.lblDetails</h1>
            <ol class="breadcrumb">
                <li><a href="/">@Resource.lblHome</a></li>
                <li>@Resource.lblContactManagement</li>
                <li class="active">@Resource.lblDetails</li>
            </ol>
        </div>
    </div>
}

<div class="panel " style="margin-top: 10px;">
    <div class="panel-heading">
        <h1 class="panel-title list-panel-title">
            <i class="fas fa-info-circle font-byhoa"></i> @Resource.lblContactDetails
            <p class="btn-group pull-right">
                <a id="btnPrint" class="btn btn-success btn-xs dropdown-toggle legitRipple"><i class="fa fa-print" aria-hidden="true"></i> @Resource.lblPrint</a>
            </p>
        </h1>
    </div>



    <div class="panel-body">
        <div class="panel-heading">
            <h1 class="panel-title list-panel-title">@Resource.lblContactInformation</h1>
        </div>
        <div class="row margin-top-20-md">
            <div class="form-group col-lg-12">
                <label>@Resource.lblFullName</label><br />
                <label class="form-control">@Model.FullName</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <label>@Resource.lblEmail</label><br />
                <label class="form-control">@Model.Email</label>
            </div>
            <div class="form-group col-lg-12">
                <label>@Resource.lblPhone</label><br />
                <label class="form-control">@Model.Phone</label>
            </div>
            <div class="form-group col-lg-12">
                <label>@Resource.USER_ADDRESS</label><br />
                <label class="form-control">@Model.Address</label>
            </div>
            <div class="form-group col-lg-12">
                <label>@Resource.lblCompany</label><br />
                <label class="form-control">@Model.Company</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <label>@Resource.lblSubjectSendMail</label><br />
                <label class="form-control">@Model.Subject</label>
            </div>
            <div class="form-group col-lg-12">
                <label>@Resource.lblDescription</label><br />
                <textarea class="form-control" rows="5" cols="5" readonly="readonly">@Model.Description</textarea>
            </div>
        </div>
        <hr />
        <div id="divSendMail">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="panel-heading">
                        <h1 class="panel-title list-panel-title">Reply</h1>
                    </div>
                    @using (Html.BeginForm("ReplyContact", "Contact", FormMethod.Post, new { id = "createform" }))
                    {


                        <div class="row margin-top-20-md">
                            <div class="form-group col-lg-12">
                                <label>@Resource.lblEmail</label><font color="red">(*)</font>
                                <label class="form-control">@Model.Email</label>
                                <input type="hidden" class="createform" name="FEmail" value="@Model.Email" />
                                <input type="hidden" value="@Model.Id" class="createform" name="Id" id="Id" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>@Resource.lblSubjectSendMail</label><font color="red">(*)</font>
                                <input type="text" class="form-control createform" name="FSubject" placeholder="@Resource.lblSubjectSendMail" value="@(Model.MyReply != null ? Model.MyReply.ReplySubject : ("Re: " + Model.Subject) )" />
                            </div>

                            <div class="form-group col-lg-12">
                                <label>@Resource.lblContent</label><font color="red">(*)</font>
                                <textarea class="form-control createform" rows="5" cols="5" name="FContent" placeholder="@Resource.lblContent">@(Model.MyReply != null ? Model.MyReply.ReplyContent : string.Empty )</textarea>
                            </div>

                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="row">
            <div class="action-form text-right">
                @if (Model.MyReply == null)
            {
                    <a href="javascript:void(0)" onclick="submit()" class="btn btn-primary"><i class="fas fa-save" aria-hidden="true"></i> @Resource.lblSend</a>

                }
                <a onclick="goBack()" class="btn btn-default legitRipple"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> @Resource.lblBack</a>
            </div>
        </div>

    </div>

</div>
<div class="col-md-12" style="margin-top: 10px;display:none;">
    <div class="panel panel-default list-panel" id="list-panel">
        <div class="panel-body">
            <div id="reportpage" style="padding-top: 20px; padding-bottom: 20px; padding-left: 30px; padding-right: 15px;">

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function printElement(elem) {
            var domClone = elem.cloneNode(true);
            var $printSection = document.getElementById("printSection");

            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }

            $printSection.innerHTML = "";

            $printSection.appendChild(domClone);
        }
        $('#btnPrint').on('click', function () {
            active();
            //$("#Trainee").DataTable().draw();
        });

        function active() {
            var id = $("#Id").val();
            $.ajax({
                type: "GET",
                url: "/Contact/Print",
                datatype: "json",
                data: {
                    id: id,
                },
                success: function (data) {
                    $('#reportpage').html(data);
						var delayInMilliseconds = 1000; //1 second
						setTimeout(function() {
							printElement(document.getElementById("reportpage"));
							window.print();
						}, delayInMilliseconds);
						
                    }
            });
        }

        function submit() {
            spinner.open();
            var form = document.getElementById('createform');
            var formData = new FormData(form);
            $.ajax({
                type: 'POST',
                url: "/Contact/ReplyContact",
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data.result) {
                        window.location.href = '/Contact';
                    } else {
                        notify.alert(data.message, 'Error', TITLE_STATUS_DANGER);
                    }
                },
                complete: function () {
                    spinner.close();
                }
            });
        }
    </script>
}
