@using System.Linq
@using TMS.Core.App_GlobalResources
@model TMS.Core.ViewModels.UserModels.UserProfile
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-cogs"></i>  @Resource.lblSystemManagement - @Resource.lblUser @(Model.Id.HasValue ? @Resource.lblEdit : @Resource.lblCreate) </h1>
            <ol class="breadcrumb">
                <li><a href="/">@Resource.lblHome</a></li>
                <li>@Resource.lblSystemManagement</li>
                <li class="active"> @Resource.lblUser @(Model.Id.HasValue ? @Resource.lblEdit : @Resource.lblCreate)
            </ol>
        </div>
    </div>
}
<style>
    .tree, .tree ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
</style>
@*<div class="col-md-12">
        <div class="panel list-panel" id="list-panel">

        </div>
    </div>*@
<div class="panel list-panel" id="list-panel">
    <div class="panel-heading list-panel-heading">
        <h1 class="panel-title list-panel-title">
            <i class="fas fa-pencil-alt font-small-byhoa" aria-hidden="true"></i> @(Model.Id.HasValue ? @Resource.lblEdit : @Resource.lblCreate)
        </h1>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Modify", "User", FormMethod.Post, new { id = "createform" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @*<form class="form-horizontal bordered-row" autocomplete="on" action="@Url.Action("Modify", "User")" method="post" id="UserModify" data-parsley-validate>*@
            if (Model.Checksitepermissiondata)
            {
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">@Resource.lblProfile</a></li>
                    <li role="presentation"><a href="#Permission" aria-controls="Permission" role="tab" data-toggle="tab">@Resource.lblPermission</a></li>
                </ul>
            }
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="profile">
                    <div class="panel">
                        @Html.Partial("_Partials/_UserModifyProfile", Model)
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Permission">
                    <div class="panel">
                        <div class="panel-body">
                            <b>@Model.Namesite &nbsp;</b>
                            <ul id="tree" class="tree"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="action-form text-right">
                    @{
                        if (User.IsInRole("/User/Modify"))
                        {
                            <a onclick="submit()" class="btn btn-primary legitRipple"><i class="fas fa-save" aria-hidden="true"></i> @Resource.lblSave</a>
                        }
                    }
                    <a onclick="goBack()" class="btn btn-default legitRipple"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> @Resource.lblBack</a>
                </div>
            </div>
            @*</form>*@
        }
    </div>
</div>

@section Scripts{
    <script src="~/Content/Js/tree/jquery.treegrid.min.js"></script>
    <script src="~/Scripts/js/common.js"></script>
    <script src="~/Scripts/js/app.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            function readURL(input) {
                var fsize = 1024 * 1024 * 2;
                if (input.files[0].size < fsize) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#blah2').attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                else {
                    notify.alert("Allowed file size exceeded. (Max. 2 MB)", 'Warning', TITLE_STATUS_DANGER);
                }
            }
            $("#uploadEditorImage").change(function () {
                readURL(this);
            });
            $('#GroupUser').on('change', function () {
                var $this = $(this);
                @{
                    if(Model.Id.HasValue)
                    {
                        @:departments(@Model.Id,$this.val());
                    }
                    else
                    {
                        @:departments(null,$this.val());
                    }
                }
            });
                @if(Model.Id.HasValue)
                {
                    @:departments(@Model.Id);
                }
                else
                {
                    @:departments(null);
                }
            $('#GroupUser').change();
            $('#tree').treegrid();

            //$('#InstructorId').on('change', function () {
            //    debugger;
            //    var $this = $(this);
            //    if ($this.val() > 0) {
            //        $.ajax({
            //            url: '/User/AjaxhandlerChangeInstructor',
            //            type: 'POST',
            //            data: { id: $this.val() },
            //            success: function(response) {
            //                if (response.result) {
            //                    var data = response.data;
            //                    $('#UserName').val(data.eid);
            //                    $('#username').attr('readonly', true);
            //                    //$("#FullName").val(data.firstName + ' ' + data.lastName);
            //                    $("#FirstName").val(data.firstName);
            //                    $("#LastName").val(data.lastName);
            //                    $('#Numbers').val(data.phone);
            //                    $('#Email').val(data.mail);
            //                    $('#Password').val(data.password);
            //                    $('#PasswordConfirm').val(data.password);
            //                    $('#Password').attr('readonly', true);
            //                    $('#PasswordConfirm').attr('readonly', true);

            //                } else {
            //                    notify.alert(response.message, "warning", 3);
            //                    $this.val(-1);
            //                    $this.trigger('change');
            //                    $('#UserName').attr('readonly', false);
            //                    $('#Password').attr('readonly', false);
            //                    $('#PasswordConfirm').attr('readonly', false);
            //                }
            //            }
            //        });
            //    }
            //});
        });
        $('#InstructorId').change();
        // active menu
        //line_#id of parent node
        $(".line_1").addClass("active");
        //custom select box

        function departments(id,groupUsers) {
            $.ajax({
                url: '/User/DepartmentListView',
                type: 'POST',
                data: { id: id, groupUsers: groupUsers },
                success: function (res) {
                    $('#tree').html(res);
                },
                error: function (res) {
                    notify.alert(res, 'error', TITLE_STATUS_DANGER);
                }
            });
        }
        function submit() {
            spinner.open();
            var form = document.getElementById('createform');
            var formData = new FormData(form);
            $.ajax({
                type: 'POST',
                url: "/User/Modify",
                contentType: false,
                processData: false,
                data: formData,
                success: function(data) {
                    if (data.result) {
                        window.location.href = '/User';
                    } else {
                        notify.alert(data.message, 'Error', TITLE_STATUS_DANGER);
                    }
                },
                complete: function() {
                    spinner.close();
                }
            });
        }
        function checkInstructor(item) {
            var _instructorValue = item.value;
            var $this = 0;
            if (_instructorValue != null) {
                $this = parseInt(_instructorValue);
            }
            if ($this > 0) {
                $.ajax({
                    url: '/User/AjaxhandlerChangeInstructor',
                    type: 'POST',
                    data: { id: $this },
                    success: function (response) {
                        if (response.result) {
                            var data = response.data;
                            $('#UserName').val(data.eid);
                            $('#username').attr('readonly', true);
                            //$("#FullName").val(data.firstName + ' ' + data.lastName);
                            $("#FirstName").val(data.firstName);
                            $("#LastName").val(data.lastName);
                            $('#Numbers').val(data.phone);
                            $('#Email').val(data.mail);
                            $('#Password').val(data.password);
                            $('#PasswordConfirm').val(data.password);
                            $('#Password').attr('readonly', true);
                            $('#PasswordConfirm').attr('readonly', true);

                        } else {
                            notify.alert(response.message, "warning", 3);
                            $this.val(-1);
                            $this.trigger('change');
                            $('#UserName').attr('readonly', false);
                            $('#Password').attr('readonly', false);
                            $('#PasswordConfirm').attr('readonly', false);
                        }
                    }
                });
            }
            else {
                $('#UserName').attr('readonly', false);
                $('#Password').attr('readonly', false);
                $('#PasswordConfirm').attr('readonly', false);
            }
        }
    </script>
}
