@using TMS.Core.App_GlobalResources
@model TMS.Core.ViewModels.Mail.MailViewModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/CKEditor/ckeditor.js"></script>
@section breadcrumb{

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header"><i class="fa fa-group"></i>  MailExchange </h1>
            <ol class="breadcrumb">
                <li><a href="/">@Resource.lblHome</a></li>
                @*<li> @Resource.lblMasterData</li>*@
                <li class="active">MailExchange</li>
            </ol>
        </div>
    </div>
}

        <div class="panel list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">@Resource.lblCreate </h1>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "Mail", FormMethod.Post, new { @class = "form-horizontal bordered-row", id = "createform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-6">Name @*<font color="red">(*)</font>*@</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-6">Suject</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Subject_Mail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Subject_Mail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display:none">
                        <div class="col-md-12">
                            @*<div class="col-md-6">
                                    <label class="col-md-6">Name <font color="red">(*)</font></label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                            <div class="col-md-12" style="display:none">
                                <label class="col-md-2">Code</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-12">
                            <label class="col-md-6">Content-Template</label>
                            <div class="col-md-12" style="">
                                @Html.TextAreaFor(model => model.TemplateMail, new { @id = "TemplateMail", @class = "form-control", @rows = "500" })
                                @Html.ValidationMessageFor(model => model.TemplateMail, "", new { @class = "text-danger" })
                            </div>
                            <script>
                            CKEDITOR.replace("TemplateMail");
                            </script>
                        </div>
                    </div>
               
                  }

            </div>
        </div>
  
<div class="panel">
    <div class="panel-body">
        <div class="pull-right">
            @{ if (User.IsInRole("/Mail/Create"))
                {
                    <a href="javascript:void(0)" class="btn btn-primary  legitRipple" id="submit" onclick="submit()"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Resource.lblSave</a>
                }
            }
            <a onclick="goBack()" class="btn   legitRipple"><i class="fa fa-sign-out" aria-hidden="true"></i> @Resource.lblBack</a>
        </div>
    </div>
</div>
@section Scripts {
    
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //$(document).ready(function () {
        //    $("#TemplateMail").ckeditor();
        //});
        function submit() {
            spinner.open();
            var xxx = $("#TemplateMail").val(CKEDITOR.instances['TemplateMail'].getData());
            var form = $("#createform").serialize();
            $.ajax({
                type: 'POST',
                url: "/Mail/Create",
                datatype: 'json',
                data: form,
                success: function (data) {
                    if (data.result) {
                        window.location.href = '/Mail';
                        notify.alert(data.message, 'Success', TITLE_STATUS_SUCCESS);
                    }
                    else {
                        notify.alert(data.message, 'Error', TITLE_STATUS_DANGER);
                    }
                }
                , complete: function () {
                    
                    spinner.close();
                }
            });
        }
    </script>

}
