@using TMS.Core.App_GlobalResources;
@model TMS.Core.ViewModels.Trainees.TraineeIndexModel


@section breadcrumb{

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-group"></i>  @Resource.lblTraineeManagement - @Resource.lblTraineeList</h1>
            <ol class="breadcrumb">
                <li><a href="/">@Resource.lblHome</a></li>
                <li>@Resource.lblTraineeManagement</li>
                <li class="active">@Resource.lblTraineeList</li>
            </ol>
        </div>
    </div>
}
<form action="javascript:void(0)">
    <div class="col-md-12">
        <div class="panel list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">@Resource.lblFilter</h1>
            </div>
            <div class="panel-body">
                <div class="row col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label>@Messege.EIDGV</label>
                            <input type="text" name="fStaffId" id="fStaffId" class="form-control searchText1" placeholder="@Messege.EID"/>
                        </div>
                        <div class="col-md-3">
                            <label>@Resource.lblFullName</label>
                            <input type="text" name="fName" id="fName" class="form-control searchText1" placeholder="@Resource.lblFullName"/>
                        </div>
                        <div class="col-md-3">
                            <label>@Resource.lblGender</label>
                            <select class="form-control" id="GenderList" name="GenderList" data-placeholder="-- @Resource.lblGender --">
                                <option></option>
                                @if (Model.Genders != null)
                                {
                                    foreach (var item in Model.Genders)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                }
                            </select>
                            @*@Html.DropDownList("GenderList", (SelectList)ViewBag.GenderList, "", new { @class = "form-control", data_placeholder = "--" + Instructorss.lblGender + "--" })*@
                        </div>                        
                        <div class="col-md-3">
                            <label>@Resource.lblEmail</label>
                            <input type="text" name="fEmail" id="fEmail" class="form-control searchText1" placeholder="Email"/>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-3">
                            <label>@Resource.lblPhone</label>
                            <input type="text" name="fPhone" id="fPhone" class="form-control searchText1" placeholder="@Resource.lblPhone"/>
                        </div>
                        <div class="col-md-3">
                            <label>@Resource.lblDepartment</label>
                            <select class="form-control" name="DepartmentList" id="DepartmentList" data-placeholder="-- @Resource.lblDepartment --">

                                <option></option>
                                @if (Model.Departments != null)
                                {
                                 @Html.Raw(Model.Departments)
                                }
                                @*@Html.Raw(ViewBag.LoadDepartment)*@
                            </select>
                            @*@Html.DropDownList("DepartmentList", (SelectList)ViewBag.DepartmentList, "", new { @class = "form-control", data_placeholder = "-- Department --" })*@
                        </div>
                        <div class="col-md-3">
                            <label>@Resource.lblJobTitle_Occupation</label>
                            <select class="form-control" name="JobTitleList" id="JobTitleList" data-placeholder="--  @Resource.lblJobTitle_Occupation --">
                                <option></option>
                                @if (Model.JobTitles != null)
                                {
                                    foreach (var item in Model.JobTitles)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                }
                            </select>

                            @*@Html.DropDownList("JobTitleList", (SelectList) ViewBag.JobTitleList, "", new {@class = "form-control", data_placeholder = "--" + Traineess.lblJobTitle + "--" })*@
                        </div>
                        <div class="col-md-3">
                            <label>@Messege.TYPE</label>
                            @Html.DropDownList("ddl_TYPE", Model.Type, "", new {@id = "ddl_TYPE", @class = "form-control",  @data_placeholder = "--" + Messege.TYPE + "--" })

                        </div>
                        

                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-1 pull-right">
                            <button type="submit" class="btn btn-primary pull-right" id="btFilter">
                                <i class="fa fa-search"></i> @Resource.lblSearch
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


    <div class="col-md-12">
        <div class="panel list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title"><i class="fa fa-list" aria-hidden="true"></i> @Resource.lblTraineeList
                
               
                    <p class="btn-group pull-right">
                        <a id="btnExport" class="btn btn-success btn-xs dropdown-toggle legitRipple"><i class="fa fa-download" aria-hidden="true"></i> @Resource.lblEXPORT</a>
                        @if (User.IsInRole(Url.Action("Create","Trainee")))
                        {
                        <a href="/Trainee/Create" class="btn btn-success btn-xs dropdown-toggle legitRipple"><i class="fa fa-plus" aria-hidden="true"></i> @Resource.lblCreate</a>
                        }
                    </p>
                </h1>
            </div>

            <div class="panel-body table-responsive">
                @*<a class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="DepTable" href="#"><span>Export Excel</span></a>*@
                <table id="Trainee" class="table table-striped table-bordered">
                    <thead>
                        <tr role="row" >
                            <th style="width:5%;">@Resource.lblStt</th>
                            <th>@Messege.EID</th>
                            <th>@Resource.lblFullName</th>
                            <th>@Resource.lblGender</th>
                            <th>Email</th>
                            <th>@Resource.lblPhone</th>
                            <th>@Resource.lblJobTitle_Occupation</th>
                            <th>@Resource.lblDepartment</th>
                            <th>@Messege.TYPE</th>
                            <th>@Resource.lblStatus</th>
                            <th style="width:10%;">@Resource.lblOptions</th>
                    </thead>
                    <tbody></tbody>
                    <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>*@
                <div class="modal-body">
                    <label>@Messege.DELETE_TRAINEE</label>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div id="messageout2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="Modal_Footer">



                </div>
            </div>
        </div>
    </div>
    @section Scripts{

        <script type="text/javascript">
            var sTable;
            $(document).ready(function () {                

                //datatable serverside
                 sTable = $("#Trainee").dataTable({
                    "responsive:": true,
                    "searching": false,
                    "columnDefs": [{
                        "targets": 0,
                        "className": "text-center",
                        "data": null,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    }, {
                        "targets": 9,
                        "className": "text-center",
                    }],
                    "aaSorting": [],
                    "bServerSide": true,
                    "sAjaxSource": "/Trainee/AjaxHandler",
                    "bProcessing": true,
                    "fnServerParams": function (aoData) {
                        aoData.push({ "name": "ComOrDepId", "value": $('#DepartmentList').val() },
                                    { "name": "fName", "value": $('#fName').val() },
                                    { "name": "fEmail", "value": $('#fEmail').val() },
                                    { "name": "fJobTitle", "value": $('#JobTitleList').val() },
                                    { "name": "fStatus", "value": $('#StatusList').val() },
                                    { "name": "fPhone", "value": $('#fPhone').val() },
                                    { "name": "fStaffId", "value": $('#fStaffId').val() },
                                    { "name": "ddl_TYPE", "value": $('#ddl_TYPE').val() },
                                    { "name": "fGender", "value": $('#GenderList').val() });
                    },


                });

                $('#btFilter').click(function (e) {
                    sTable.fnDraw();
                });
                $('#myModal').on('hidden.bs.modal', function () {
                    sTable.fnDraw();
                });

                $('#btnExport').click(function () {
                    exportExcel();
                });

            });
            $('.searchText1').keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $('#btFilter').click();
                }
            });

            $('.searchText2').keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $('#btFilter2').click();
                }
            });

            function Set_Participate_Trainee(isStatus, id) {
                spinner.open();
                 $.ajax({
                    type: 'POST',
                    url: "/Trainee/SubmitSetParticipateTrainee",
                    datatype: 'json',
                    data: { isStatus: isStatus, id: id },
                    success: function (data) {
                       if (data.result) {
                           notify.alert(data.message, 'SUCCESS', TITLE_STATUS_SUCCESS);
                       } else {
                           notify.alert(data.message, 'ERROR', TITLE_STATUS_DANGER);
                       }

                    }, complete: function () {
                        sTable.fnDraw();
                        spinner.close();
                    }
                });
            }

            function calldelete(id) {
                notify.confirm("@Messege.DELETE_TRAINEE", "Confirm", TITLE_STATUS_DANGER, deletesubmit, id);

            }
            function deletesubmit(id) {
                spinner.open();
                $.ajax({
                    type: 'POST',
                    url: "/Trainee/Delete",
                    datatype: 'json',
                    data: { id: id },
                    success: function (data) {
                        if (data.result) {
                            sTable.fnDraw();
                            notify.alert(data.message, 'SUCCESS', TITLE_STATUS_SUCCESS);
                        }
                        else {
                            notify.alert(data.message, 'ERROR', TITLE_STATUS_DANGER);
                        }

                    }, complete: function () {
                        spinner.close();
                    }
                });
            }

            function callrandom(name,id) {
                var message = "@Messege.WARNING_SEND_NEW_PASS".replace("{0}", name);
                notify.confirm(message, "Confirm", TITLE_STATUS_SUCCESS, passwordRandomSubmit, id);

            }

            function passwordRandomSubmit(id) {
                spinner.open();
                $.ajax({
                    type: 'POST',
                    url: "/Trainee/RandomResetPassword",
                    datatype: 'json',
                    data: { id: id },
                    success: function (data) {
                        if (data.result) {
                            notify.alert(data.message, 'SUCCESS', TITLE_STATUS_SUCCESS);
                        }
                        else {
                            notify.alert(data.message, 'ERROR', TITLE_STATUS_DANGER);
                        }

                    }, complete: function () {
                        spinner.close();
                    }
                });
            }


            function exportExcel() {

                var params = {
                    fStaffId: $('#fStaffId').val(),
                    fName: $('#fName').val(),
                    fGender: $('#Genders').val(),
                    fEmail: $('#fEmail').val(),
                    fPhone: $('#fPhone').val(),
                    ComOrDepId: $('#DepartmentList').val(),
                    fJobTitle: $('#JobTitleList').val(),
                    ddl_TYPE: $('#Type').val(),
                    Mentor: $('#Mentor').val(),
                    control: $('#control').val(),
                };
                var str = jQuery.param(params);
                window.location.href = "/Employee/ExportEXCEL1?" + str;


            }
            function callsendApi(email, password, firstname, lastname) {

                var url = "/api?email=" + email + "&password=" + password + "&lastname=" + firstname + "&firstname=" + lastname + "";
                notify.confirm(url, "Confirm", TITLE_STATUS_SUCCESS, ApiDHDaNang, url);

            }
            function ApiDHDaNang(url) {
                //spinner.open();
                alert(url);
                //$.ajax({
                //    type: 'POST',
                //    url: url,
                //    datatype: 'json',
                //    data: { id: id },
                //    success: function (data) {
                //        if (data.result) {
                //            sTable.fnDraw();
                //            notify.alert(data.message, 'SUCCESS', TITLE_STATUS_SUCCESS);
                //        }
                //        else {
                //            notify.alert(data.message, 'ERROR', TITLE_STATUS_DANGER);
                //        }

                //    }, complete: function () {
                //        spinner.close();
                //    }
                //});
            }

        </script>
    }
    <style>
        select {
            color: #000 !important;
        }

        .detailIcon {
            cursor: pointer;
        }
    </style>
