@using TMS.Core.App_GlobalResources
@model TMS.Core.ViewModels.Trainees.GroupTraineeModel
@{
    ViewBag.Title = "ModifyGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-cogs"></i>  @Resource.lblMasterData - @(Model.Id.HasValue ? Resource.lblEdit : Resource.lblCreate ) </h1>
        </div>
        <ol class="breadcrumb">
            <li><a href="/">@Resource.lblHome</a></li>
            <li>@Resource.lblMasterData</li>
            <li class="active"> @(Model.Id.HasValue ? Resource.lblEdit : Resource.lblCreate )
        </ol>
    </div>

}
<div class="col-md-12">
    <div class="panel list-panel">
        <div class="panel-heading list-panel-heading">
            <h1 class="panel-title list-panel-title">@(Model.Id.HasValue ? Resource.lblEdit : Resource.lblCreate )</h1>
        </div>
        <div class="panel-body center-block">

            @using (Html.BeginForm("ModifyGroup", "Trainee", FormMethod.Post, new {id = "createform"}))
            {
                <div class="tab-pane fade  active in" id="home">
                    <div class="row">
                        @Html.HiddenFor(m => m.Id)
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@Resource.lblCode <span class="text-danger">(*)</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="hidden" value="-1" id="editor-index"/>
                                    @Html.TextBoxFor(m => m.Code, new {@class = "form-control", id = "Code", placeholder = Resource.lblCode, @Required = "Required"})
                                    @Html.ValidationMessageFor(m => m.Code, null, new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@Resource.lblName <span class="text-danger">(*)</span></label>
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Name, new {@class = "form-control", id = "Name", placeholder = Resource.lblName, @Required = "Required"})
                                    @Html.ValidationMessageFor(m => m.Name, null, new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@Resource.lblDescription</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Description, new {id = "txt_NOTE", @class = "form-control", @rows = "4"})
                                    @Html.ValidationMessageFor(m => m.Description, null, new {@class = "text-danger"})

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>
                                        <label>@Resource.lblTRAINEE</label>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <select name="TraineeIds" id="TraineeIds" class="form-control select createform" multiple="multiple">
                                        @if (Model.GroupTrainees != null)
                                        {
                                            foreach (var group in Model.GroupTrainees)
                                            {
                                                <option value="@group.Key" @(Model.TraineeIds != null && Model.TraineeIds.Contains(group.Key) ? "selected" : "")>@group.Value</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(m => m.TraineeIds, null, new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="form-group ">
                        <div class="text-right">

                            @if (User.IsInRole("/Trainee/ModifyGroup"))
                            {
                                @*<button type="submit" class="btn btn-primary" id="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Resource.lblSave</button>*@
                                <a class="btn btn-primary" id="saveA" onclick=" submit() "><i class="fa fa-floppy-o" aria-hidden="true"></i> @Resource.lblSave</a>
                            }

                            <a onclick="goBack()" class="btn"><i class="fa fa-sign-out" aria-hidden="true"></i> @Resource.lblBack</a>
                        </div>
                    </div>


                </div>
            }
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        
        function submit() {
            spinner.open();
            var form = $("#createform").serialize();
            var $forms = $('#createform');
            //if ($forms.valid()) {
            $.ajax({
                type: 'POST',
                url: "/Trainee/ModifyGroup",
                datatype: 'json',
                data: form,
                success: function (data) {
                    if (data.result) {
                        notify.alert(data.message, 'SUCCESS', TITLE_STATUS_SUCCESS);
                        window.location.href = '/Trainee/Group';
                    }
                    else {
                        notify.alert(data.message, 'Error', TITLE_STATUS_DANGER);
                    }
                }, complete: function () {
                    spinner.close();
                }
            });
        }
    </script>
}
